# Large dataset files
data/
dataset/
data_sample/

# Model files
models/
*.h5
*.pkl
*.joblib

# Training outputs
training_history.png
confusion_matrix.png
*.png
*.jpg
*.jpeg

# Ignore virtual environments
env/
.venv/

# Python cache and logs
__pycache__/
*.py[cod]
*.log

# VS Code settings (optional)
.vscode/

# macOS junk
.DS_Store

# Streamlit config cache
.streamlit/

# Jupyter/IPython
.ipynb_checkpoints/